In [7]:
# Import Libraries
import pandas as pd

In [8]:
# Read CSV file
df = pd.read_csv("data/students.csv")
print("Data loaded successfully")

Data loaded successfully

In [10]:
# Inspect Data
print("\nFirst 5 rows:")
print(df.head())

First 5 rows:
   StudentID   Name Department  Marks  Age
0          1   Amit         CS     85   20
1          2   Riya         IT     78   21
2          3  Sneha         CS     92   22
3          4  Rahul       ENTC     67   20
4          5  Pooja         IT     88   21

In [11]:
print("\nLast 5 rows:")
print(df.tail())

Last 5 rows:
   StudentID   Name Department  Marks  Age
1          2   Riya         IT     78   21
2          3  Sneha         CS     92   22
3          4  Rahul       ENTC     67   20
4          5  Pooja         IT     88   21
5          6   Anil         CS     73   23

In [12]:
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   6 non-null      int64
 1   Name        6 non-null      object
 2   Department  6 non-null      object
 3   Marks       6 non-null      int64
 4   Age         6 non-null      int64
dtypes: int64(3), object(2)
memory usage: 372.0+ bytes

In [13]:
# Summary Statistics
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
       StudentID      Marks        Age
count   6.000000   6.000000   6.000000
mean    3.500000  80.500000  21.166667
std     1.870829   9.523655   1.169045
min     1.000000  67.000000  20.000000
25%     2.250000  74.250000  20.250000
50%     3.500000  81.500000  21.000000
75%     4.750000  87.250000  21.750000
max     6.000000  92.000000  23.000000

In [14]:
print("\nMean Marks:", df['Marks'].mean())
print("Median Marks:", df['Marks'].median())
print("Minimum Marks:", df['Marks'].min())
print("Maximum Marks:", df['Marks'].max())
print("Total Students:", df['Marks'].count())

Mean Marks: 80.5
Median Marks: 81.5
Minimum Marks: 67
Maximum Marks: 92
Total Students: 6

In [15]:
# Filter Students with Marks > 80
high_scorers = df[df['Marks'] > 80]
print("\nStudents with Marks > 80:")
print(high_scorers)

Students with Marks > 80:
   StudentID   Name Department  Marks  Age
0          1   Amit         CS     85   20
2          3  Sneha         CS     92   22
4          5  Pooja         IT     88   21

In [16]:
# CS Department Students
cs_students = df[df['Department'] == 'CS']
print("\nCS Department Students:")
print(cs_students)

CS Department Students:
   StudentID   Name Department  Marks  Age
0          1   Amit         CS     85   20
2          3  Sneha         CS     92   22
5          6   Anil         CS     73   23

In [17]:
# Select specific columns
selected_columns = df[['Name', 'Department', 'Marks']]
print("\nSelected Columns:")
print(selected_columns)

Selected Columns:
    Name Department  Marks
0   Amit         CS     85
1   Riya         IT     78
2  Sneha         CS     92
3  Rahul       ENTC     67
4  Pooja         IT     88
5   Anil         CS     73

In [18]:
# First 3 students
print("\nFirst 3 Students:")
print(df.iloc[:3])

First 3 Students:
   StudentID   Name Department  Marks  Age
0          1   Amit         CS     85   20
1          2   Riya         IT     78   21
2          3  Sneha         CS     92   22

In [20]:
# Save output to CSV
high_scorers.to_csv("output/high_scorers.csv", index=False)
cs_students.to_csv("output/cs_students.csv", index=False)
print("\nFiltered files saved successfully!")

Filtered files saved successfully!